<h1>Bienvenido</h1>
<div class="card float-left" style="width: 18rem;margin:3px;">
    <div class="card-body">
        <h4 class="card-title">Escuelas</h4>
        <p class="card-text">
            <i class="fa fa-university fa-6" aria-hidden="true"></i>
        </p>
        <a class="btn btn-primary btn-block" href="./Escuelas">Administrar</a>
    </div>
</div>