<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">nombre: {{escuela.nombre}}</h4>
                        <p class="card-text" style="text-align:left;">
                            direccion: {{escuela.direccion}}<br>
                            clave: {{escuela.clave}}<br>
                            telefono: {{escuela.telefono}}<br>
                        </p>
                        <a class="btn btn-primary" href="./Escuelas">terminar</a>
                    </div>
                </div>
            </li>
            <!-- <li class="nav-item">
              <div class="btn-group-vertical btn-block">
              <button type="button" ng-click="" class="btn btn-default"><span class="fa fa-plus"></span> Personal</button>
              </div>
            </li> -->
        </nav>
<div class="card float-left" style="width: 18rem;margin:3px;">
    <div class="card-body">
        <h4 class="card-title">Personal</h4>
        <p class="card-text">
            <i class="fa fa-users fa-6" aria-hidden="true"></i>
        </p>
        <a class="btn btn-primary btn-block" href="./Escuela/{{escuela.id}}/personal">Administrar</a>
    </div>
</div>

<div class="card float-left" style="width: 18rem;margin:3px;">
    <div class="card-body">
        <h4 class="card-title">Alumnos</h4>
        <p class="card-text">
            <i class="fa fa-graduation-cap fa-6"  aria-hidden="true"></i>
        </p>
        <a class="btn btn-primary btn-block" href="./Escuela/{{escuela.id}}/alumnos">Administrar</a>
    </div>
</div>

<div class="card float-left" style="width: 18rem;margin:3px;">
    <div class="card-body">
        <h4 class="card-title">Aulas</h4>
        <p class="card-text">
            <i class="fa fa-building-o fa-6" aria-hidden="true"></i>
        </p>
        <a class="btn btn-primary btn-block" href="./Escuela/{{escuela.id}}/aulas">Administrar</a>
    </div>
</div>

<div class="card float-left" style="width: 18rem;margin:3px;">
    <div class="card-body">
        <h4 class="card-title">Grupos</h4>
        <p class="card-text">
            <i class="fa fa-object-group fa-6" aria-hidden="true"></i>
        </p>
        <a class="btn btn-primary btn-block" href="./Escuela/{{escuela.id}}/grupos">Administrar</a>
    </div>
</div>

<div class="card float-left" style="width: 18rem;margin:3px;">
    <div class="card-body">
        <h4 class="card-title">Horarios</h4>
        <p class="card-text">
            <i class="fa fa-clock-o fa-6" aria-hidden="true"></i>
        </p>
        <a class="btn btn-primary btn-block" href="./Escuela/{{escuela.id}}/horarios">Administrar</a>
    </div>
</div>
