<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <div class="btn-group-vertical btn-block">
                <a class="btn btn-dark" href="Bienvenido"><span class="fa fa-chevron-left"></span> Volver</a>
              <button type="button" ng-click="agregarEsc()" class="btn btn-success"><span class="fa fa-plus"></span> Agregar</button>
              </div>
            </li>
        </nav>
<div>
<table class="table table-responsive table-hover">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Servicio</th>
      <th>director actual</th>
      <th>telefono</th>
      <th>estado</th>
      <th>ciudad</th>
      <th>clave</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key,item) in escuelas">
      <th scope="row"><a class="btn btn-default" href="Escuela/{{item.id}}"><span class="fa fa-sign-in"></span></a></th>
      <td>{{item.nombre}}</td>
      <td>{{item.direccion}}</td>
      <td>{{item.servicio}}</td>
      <td>{{item.directorNombre}} {{item.apellido}}</td>
      <td>{{item.telefono}}</td>
      <td>{{item.estado}}</td>
      <td>{{item.ciudad}}</td>
      <td>{{item.clave}}</td>
      <th scope="row"><button class="btn btn-primary" ng-click="editar(item)"><span class="fa fa-pencil"></span></button><button class="btn btn-danger" ng-click="eliminar(item.id,key)"><span class="fa fa-trash"></span></button></th>      
    </tr>
  </tbody>
</table>



</div>
