<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">nombre: {{escuela.nombre}}</h4>
                        <p class="card-text" style="text-align:left;">
                            direccion: {{escuela.direccion}}<br>
                            clave: {{escuela.clave}}<br>
                            telefono: {{escuela.telefono}}<br>
                        </p>
                        <a class="btn btn-primary" href="./Escuela/{{escuela.id}}">Volver</a>
                    </div>
                </div>
            </li>
             <li class="nav-item">
              <div class="btn-group-vertical btn-block">
              <button type="button" ng-click="addHorario();" class="btn btn-success"><span class="fa fa-plus"></span> Aulas</button>
              </div>
            </li> 
        </nav>
          
<div>
<table class="table table-responsive table-hover">
  <thead class="thead-default">
    <tr>
      <th><button type="button" ng-click="cargarHorarios();" class="btn btn-default"><span class="fa fa-refresh"></span></button></th>
      <th>Maestro</th>
      <th>Aula</th>
      <th>Grupo</th>
      <th>Hora inicial</th>
      <th>Hora Final</th>
      <th>Dia</th>                 
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key,item) in horarios">
      <th></th>
      <td>{{item.nombreMaestro}}</td>
      <td>{{item.aulaNombre}}</td>
      <td>{{item.grupoNombre}}</td>
      <td>{{ item.horainicio }}</td>
      <td>{{ item.horafinal }}</td>
      <td>{{item.dia}}</td>
      <th scope="row"><button class="btn btn-primary" ng-click="editar(item)"><span class="fa fa-pencil"></span></button><button class="btn btn-danger" ng-click="eliminar(item.id)"><span class="fa fa-trash"></span></button></th>      
    </tr>
  </tbody>
</table>



</div>
