<div >
  
<form class="form-signin" ng-submit="Login()" id="frmLog" name="frmLog">
        <h2 class="form-signin-heading">Inicio de Session</h2>{{ejemplo}}
        <label for="inputEmail" class="sr-only">Email address</label>
        <div ng-class="(frmLog.user.$invalid && !frmLog.user.$pristine)?'has-error':'';">
            <input placeholder="Usuario" type="text" name="user" ng-model="user" class="form-control" required autofocus="">
            <p ng-if="frmLog.user.$invalid && !frmLog.user.$pristine" class="text-danger">Requiere Usuario</p>
        </div>
        <div ng-class="(frmLog.pssw.$invalid && !frmLog.pssw.$pristine)?'has-error':'';">
            <input placeholder="Password" type="password" name="pssw" ng-model="pssw" class="form-control" required>
            <p ng-if="frmLog.pssw.$invalid && !frmLog.pssw.$pristine" class="text-danger">Requiere Password</p>
        </div>
        <div class="checkbox float-left">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <a href="RegUsuario" class="float-right">Registrarme</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
      </form>
      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</div>