<div >
<form class="form-signin" ng-submit="registrarUsuario()" ng-show="formShow" id="frmReg" name="frmReg">
        <h2 class="form-signin-heading">Registro</h2>
        <div ng-class="(frmReg.user.$invalid && !frmReg.user.$pristine)?'has-error':'';">
            <input placeholder="Usuario" type="text" name="user" ng-model="registro.user" class="form-control" required autofocus="">
            <p ng-if="frmReg.user.$invalid && !frmReg.user.$pristine" class="text-danger">Requiere Usuario</p>
        </div>
        <div ng-class="(frmReg.pssw.$invalid && !frmReg.pssw.$pristine)?'has-error':'';">
            <input placeholder="Password" type="password" name="pssw" ng-model="registro.pssw" class="form-control" pattern="[a-zA-Z0-9]{6,16}" required>
            <p ng-if="frmReg.pssw.$invalid && !frmReg.pssw.$pristine" class="text-danger">Password requiere ser de entre 6 y 16 caracteres</p>
        </div>
        <div ng-class="(frmReg.pssw2.$invalid && !frmReg.pssw2.$pristine)?'has-error':'';">
            <input placeholder="Re-Password" type="password" name="pssw2" ng-model="registro.pssw2" class="form-control" pattern="{{registro.pssw}}" required>
            <p ng-if="frmReg.pssw2.$invalid && !frmReg.pssw2.$pristine" class="text-danger">Requiere ser igual al password de arriba</p>
        </div>
        <div ng-class="(frmReg.nombre.$invalid && !frmReg.nombre.$pristine)?'has-error':'';">
            <input placeholder="Nombre" type="text" name="nombre" ng-model="registro.nombre" class="form-control" required>
            <p ng-if="frmReg.nombre.$invalid && !frmReg.nombre.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
        <div ng-class="(frmReg.apellido.$invalid && !frmReg.apellido.$pristine)?'has-error':'';">
            <input placeholder="Apellido" type="text" name="apellido" ng-model="registro.apellido" class="form-control">
            <p ng-if="frmReg.apellido.$invalid && !frmReg.apellido.$pristine" class="text-danger">Requiere Apellido</p>
        </div>
        <div ng-class="(frmReg.correo.$invalid && !frmReg.correo.$pristine)?'has-error':'';">
            <input placeholder="Correo" type="email" name="correo" ng-model="registro.correo" class="form-control">
            <p ng-if="frmReg.correo.$invalid && !frmReg.correo.$pristine" class="text-danger">Correo no valido</p>
        </div>
        <div ng-class="(frmReg.telefono.$invalid && !frmReg.telefono.$pristine)?'has-error':'';">
            <input placeholder="Telefono" type="text" name="telefono" ng-model="registro.telefono" class="form-control">
            <p ng-if="frmReg.telefono.$invalid && !frmReg.telefono.$pristine" class="text-danger">Requiere Telefono</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
        <a class="btn btn-lg btn-danger btn-block" href="Login">Cancelar</a>
      </form>
</div>
    <div>{{error}}</div>