
<form class="form-escuela" ng-submit="guardar()" id="frmReg" name="frmReg">
     <div class="modal-header">
        <h5 class="modal-title">Registro</h5>
        <button type="button" class="close" ng-click="cerrarM()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <div class="form-group" ng-class="(frmReg.nombre.$invalid && !frmReg.nombre.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Nombre</label>
            <input placeholder="nombre" type="text" name="nombre" ng-model="registro.nombre" class="form-control" required autofocus="">
            <p ng-if="frmReg.nombre.$invalid && !frmReg.nombre.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
        <div class="form-group" ng-class="(frmReg.apellido.$invalid && !frmReg.apellido.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Apellido</label>
            <input placeholder="apellido" type="text" name="apellido" ng-model="registro.apellido" class="form-control" required >
            <p ng-if="frmReg.apellido.$invalid && !frmReg.apellido.$pristine" class="text-danger">Requiere apellido</p>
        </div>
        <div class="form-group" ng-class="(frmReg.correo.$invalid && !frmReg.correo.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Correo</label>
            <input placeholder="correo" type="mail" name="correo" ng-model="registro.correo" class="form-control" >
            <p ng-if="frmReg.correo.$invalid && !frmReg.correo.$pristine" class="text-danger">Requiere correo</p>
        </div>
        <div class="form-group" ng-class="(frmReg.telefono.$invalid && !frmReg.telefono.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Telefono</label>
            <input placeholder="telefono" type="text" name="telefono" ng-model="registro.telefono" class="form-control">
            <p ng-if="frmReg.telefono.$invalid && !frmReg.telefono.$pristine" class="text-danger">Requiere telefono</p>
        </div>
        <div class="form-group" ng-class="(frmReg.grupo.$invalid && !frmReg.grupo.$pristine)?'has-error':'';">
            <label for="grupo">Grupo</label>
            <select name="grupo" placeholder="grupo" ng-model="registro.grupo" class="form-control" >
                <option value=""></option>
                <option value="grupo">grupo</option>
            </select>
            <p ng-if="frmReg.grupo.$invalid && !frmReg.grupo.$pristine" class="text-danger">Requiere grupo</p>
        </div>
        <div class="form-group" ng-class="(frmReg.sangre.$invalid && !frmReg.sangre.$pristine)?'has-error':'';">
            <label for="sangre">Sangre</label>
            <select name="sangre" placeholder="sangre" ng-model="registro.sangre" class="form-control">
                <option value="Ap">A+</option>
                <option value="An">A-</option>
                <option value="Bp">B+</option>
                <option value="Bn">B-</option>
                <option value="Bp">B+</option>
                <option value="Bn">B-</option>
                <option value="ABp">AB+</option>
                <option value="ABn">AB-</option>
                <option value="Op">O+</option>
                <option value="On">O-</option>
            </select>
            <p ng-if="frmReg.sangre.$invalid && !frmReg.sangre.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
        <div class="form-group" ng-class="(frmReg.alergias.$invalid && !frmReg.alergias.$pristine)?'has-error':'';">
            <label for="alergias" ng-if="editando">Alergias</label>
            <input placeholder="alergias" type="text" name="alergias" ng-model="registro.alergias" class="form-control">
            <p ng-if="frmReg.alergias.$invalid && !frmReg.alergias.$pristine" class="text-danger">Requiere alergias</p>
        </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Registrar</button>
    <button class="btn btn-danger" ng-click="cerrarM()" data-dismiss="modal" type="button">Cancelar</button>
    </div>
</form>
    <div>{{error}}</div>