
<form class="form-escuela" ng-submit="guardar()" id="frmReg" name="frmReg">
     <div class="modal-header">
        <h5 class="modal-title">Registro</h5>
        <button type="button" class="close" ng-click="cerrarM()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <div class="form-group" ng-class="(frmReg.nombre.$invalid && !frmReg.nombre.$pristine)?'has-error':'';">
            <input type="text" name="nombre" ng-model="registro.nombre" class="form-control" required autofocus="">
            <p ng-if="frmReg.nombre.$invalid && !frmReg.nombre.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
        <div class="form-group" ng-class="(frmReg.direccion.$invalid && !frmReg.direccion.$pristine)?'has-error':'';">
            <input placeholder="direccion" type="text" name="direccion" ng-model="registro.direccion" class="form-control" required >
            <p ng-if="frmReg.direccion.$invalid && !frmReg.direccion.$pristine" class="text-danger">Requiere direccion</p>
        </div>
        <div class="form-group" ng-class="(frmReg.servicio.$invalid && !frmReg.servicio.$pristine)?'has-error':'';">
            <label for="servicio">Servicio</label>
            <select name="servicio" placeholder="servicio" ng-model="registro.servicio" class="form-control" required>
                <option value="primaria">Primaria</option>
                <option value="secundaria">Secundaria</option>
                <option value="Preparatoria">Preparatoria</option>
                <option value="Universidad">Universidad</option>
            </select>
            <p ng-if="frmReg.servicio.$invalid && !frmReg.servicio.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
        <div class="form-group" ng-class="(frmReg.directoractual.$invalid && !frmReg.directoractual.$pristine)?'has-error':'';">
            <label for="directoractual">Director actual</label>
            <select name="directoractual" placeholder="director actual" ng-model="registro.directoractual" class="form-control" >
                <option value=""></option>
                <option ng-repeat="item in personal" value="{{item.id}}">{{item.nombre}} {{item.apellido}} - cargo: {{item.cargo}}</option>
            </select>
            <p ng-if="frmReg.directoractual.$invalid && !frmReg.directoractual.$pristine" class="text-danger">Requiere director</p>
        </div>
        <div class="form-group" ng-class="(frmReg.telefono.$invalid && !frmReg.telefono.$pristine)?'has-error':'';">
            <input placeholder="telefono" type="text" name="telefono" ng-model="registro.telefono" class="form-control">
            <p ng-if="frmReg.telefono.$invalid && !frmReg.telefono.$pristine" class="text-danger">Requiere telefono</p>
        </div>
        <div class="form-group" ng-class="(frmReg.estado.$invalid && !frmReg.estado.$pristine)?'has-error':'';">
            <input placeholder="estado de la republica" type="text" name="estado" ng-model="registro.estado" class="form-control">
            <p ng-if="frmReg.estado.$invalid && !frmReg.estado.$pristine" class="text-danger">Requiere estado de la republica</p>
        </div>
        <div class="form-group" ng-class="(frmReg.ciudad.$invalid && !frmReg.ciudad.$pristine)?'has-error':'';">
            <input placeholder="ciudad" type="text" name="ciudad" ng-model="registro.ciudad" class="form-control">
            <p ng-if="frmReg.ciudad.$invalid && !frmReg.ciudad.$pristine" class="text-danger">Requiere ciudad</p>
        </div>
        <div class="form-group" ng-class="(frmReg.clave.$invalid && !frmReg.clave.$pristine)?'has-error':'';">
            <input placeholder="clave" type="text" name="clave" ng-model="registro.clave" class="form-control">
            <p ng-if="frmReg.clave.$invalid && !frmReg.clave.$pristine" class="text-danger">Requiere clave</p>
        </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Registrar</button>
    <button class="btn btn-danger" ng-click="cerrarM()" data-dismiss="modal" type="button">Cancelar</button>
    </div>
</form>
    <div>{{error}}</div>