
<form class="form-escuela" ng-submit="guardar()" id="frmReg" name="frmReg">
     <div class="modal-header">
        <h5 class="modal-title">Registro</h5>
        <button type="button" class="close" ng-click="cerrarM()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <div class="form-group" ng-class="(frmReg.nombre.$invalid && !frmReg.nombre.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Nombre</label>
            <input placeholder="nombre ejemplo 2A" type="text" name="nombre" ng-model="registro.nombre" class="form-control" required autofocus="">
            <p ng-if="frmReg.nombre.$invalid && !frmReg.nombre.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
        <div class="form-group" ng-class="(frmReg.mv.$invalid && !frmReg.mv.$pristine)?'has-error':'';">
            <label for="mv">Turno</label>
            <select name="mv" placeholder="mv" ng-model="registro.mv" class="form-control" required>
                <option value="matutino">Matutino</option>
                <option value="vespertino">Vespertino</option>
                <option value="nocturno">Nocturno</option>
            </select>
            <p ng-if="frmReg.mv.$invalid && !frmReg.mv.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Registrar</button>
    <button class="btn btn-danger" ng-click="cerrarM()" data-dismiss="modal" type="button">Cancelar</button>
    </div>
</form>
    <div>{{error}}</div>