
<form class="form-escuela" ng-submit="guardar()" id="frmReg" name="frmReg">
     <div class="modal-header">
        <h5 class="modal-title">Registro</h5>
        <button type="button" class="close" ng-click="cerrarM()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <div class="form-group" ng-class="(frmReg.maestro.$invalid && !frmReg.maestro.$pristine)?'has-error':'';">
            <label for="maestro">Maestro</label>
            <select name="maestro" placeholder="maestro" ng-model="registro.maestro" class="form-control">
                <option value=""></option>
                <option value="{{maestro.id}}" ng-repeat="maestro in personal">Nombre: {{maestro.nombre}} - Materia: {{maestro.materia}}</option>
            </select>
            <p ng-if="frmReg.maestro.$invalid && !frmReg.maestro.$pristine" class="text-danger">Requiere maestro</p>
        </div>
        <div class="form-group" ng-class="(frmReg.aula.$invalid && !frmReg.aula.$pristine)?'has-error':'';">
            <label for="aula">Aula</label>
            <select name="aula" placeholder="aula" ng-model="registro.aula" class="form-control" required>
                <option value=""></option>
                <option value="{{salon.id}}" ng-repeat="salon in aulas">{{salon.nombre}}</option>
            </select>
            <p ng-if="frmReg.aula.$invalid && !frmReg.aula.$pristine" class="text-danger">Requiere aula</p>
        </div>
        <div class="form-group" ng-class="(frmReg.grupo.$invalid && !frmReg.grupo.$pristine)?'has-error':'';">
            <label for="grupo">Grupo</label>
            <select name="grupo" placeholder="grupo" ng-model="registro.grupo" class="form-control" required>
                <option value=""></option>
                <option value="{{item.id}}" ng-repeat="item in grupos">{{item.nombre}}</option>
            </select>
            <p ng-if="frmReg.grupo.$invalid && !frmReg.grupo.$pristine" class="text-danger">Requiere grupo</p>
        </div>
        <div class="form-horainicio" ng-class="(frmReg.horainicio.$invalid && !frmReg.horainicio.$pristine)?'has-error':'';">
            <label for="horainicio" >Hora de inicio</label>
            <input placeholder="hora inicial del curso" type="time" name="horainicio" ng-model="registro.horainicio" class="form-control" required>
            <p ng-if="frmReg.horainicio.$invalid && !frmReg.horainicio.$pristine" class="text-danger">Requiere hora de inicio</p>
        </div>
        <div class="form-horafinal" ng-class="(frmReg.horafinal.$invalid && !frmReg.horafinal.$pristine)?'has-error':'';">
            <label for="horafinal" >Hora de finalizacion</label>
            <input placeholder="hora final del curso" type="time" name="horafinal" ng-model="registro.horafinal" class="form-control" required>
            <p ng-if="frmReg.horafinal.$invalid && !frmReg.horafinal.$pristine" class="text-danger">Requiere hora final</p>
        </div>
        <div class="form-group" ng-class="(frmReg.dia.$invalid && !frmReg.dia.$pristine)?'has-error':'';">
            <label for="dia" >Dia</label>
            <select name="dia" placeholder="dia" ng-model="registro.dia" class="form-control" required>
                <option value="domingo">Domingo</option>
                <option value="lunes">Lunes</option>
                <option value="Martes">Martes</option>
                <option value="Miercoles">Miercoles</option>
                <option value="Jueves">Jueves</option>
                <option value="Viernes">Viernes</option>
                <option value="Sabado">Sabado</option>
            </select>
            <p ng-if="frmReg.dia.$invalid && !frmReg.dia.$pristine" class="text-danger">Requiere dia</p>
        </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Registrar</button>
    <button class="btn btn-danger" ng-click="cerrarM()" data-dismiss="modal" type="button">Cancelar</button>
    </div>
</form>
    <div>{{error}}</div>