
<form class="form-escuela" ng-submit="guardar()" id="frmReg" name="frmReg">
     <div class="modal-header">
        <h5 class="modal-title">Registro</h5>
        <button type="button" class="close" ng-click="cerrarM()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
        <div class="form-group" ng-class="(frmReg.nombre.$invalid && !frmReg.nombre.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Nombre</label>
            <input placeholder="nombre" type="text" name="nombre" ng-model="registro.nombre" class="form-control" required autofocus="">
            <p ng-if="frmReg.nombre.$invalid && !frmReg.nombre.$pristine" class="text-danger">Requiere Nombre</p>
        </div>
        <div class="form-group" ng-class="(frmReg.apellido.$invalid && !frmReg.apellido.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Apellido</label>
            <input placeholder="apellido" type="text" name="apellido" ng-model="registro.apellido" class="form-control" required >
            <p ng-if="frmReg.apellido.$invalid && !frmReg.apellido.$pristine" class="text-danger">Requiere apellido</p>
        </div>
        <div class="form-group" ng-class="(frmReg.correo.$invalid && !frmReg.correo.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Correo</label>
            <input placeholder="correo" type="mail" name="correo" ng-model="registro.correo" class="form-control" >
            <p ng-if="frmReg.correo.$invalid && !frmReg.correo.$pristine" class="text-danger">Requiere correo</p>
        </div>
        <div class="form-group" ng-class="(frmReg.cargo.$invalid && !frmReg.cargo.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Cargo</label>
            <input placeholder="cargo" type="mail" name="cargo" ng-model="registro.cargo" class="form-control" required>    
            <p ng-if="frmReg.cargo.$invalid && !frmReg.cargo.$pristine" class="text-danger">Requiere cargo</p>
        </div>
        <div class="form-group" ng-class="(frmReg.telefono.$invalid && !frmReg.telefono.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Telefono</label>
            <input placeholder="telefono" type="text" name="telefono" ng-model="registro.telefono" class="form-control">
            <p ng-if="frmReg.telefono.$invalid && !frmReg.telefono.$pristine" class="text-danger">Requiere telefono</p>
        </div>
        <div class="form-group" ng-class="(frmReg.materia.$invalid && !frmReg.materia.$pristine)?'has-error':'';">
            <label for="nombre" ng-if="editando">Materia a impartir</label>
            <input placeholder="materia a impartir" type="text" name="materia" ng-model="registro.materia" class="form-control">
            <p ng-if="frmReg.materia.$invalid && !frmReg.materia.$pristine" class="text-danger">Requiere materia a impartir</p>
        </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Registrar</button>
    <button class="btn btn-danger" ng-click="cerrarM()" data-dismiss="modal" type="button">Cancelar</button>
    </div>
</form>
    <div>{{error}}</div>